.react-calendar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 28.8696px;
    gap: 11.55px;

    position: absolute;
    width: 35vw;
    height: 408px;
    left: 60vw;
    top: 20em;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15.4px;
}

.react-calendar__tile--active {
    background: #006edc;
    color: white;
}

.react-calendar__tile--now {
    background: #425CA9;
}

.react-calendar__month-view__days__day--weekend {
    color: #000000;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: #000000;
}

.dashboard {
    position: absolute;
    height: 48px;
    left: 220px;
    right: 47px;
    top: 53px;

    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.3px;

    /* grayscale / black */

    color: #252733;

    backdrop-filter: blur(2.5px);
    /* Note: backdrop-filter has minimal browser support */
}

.back {
    width: 1440px;
    height: 1421px;

    background: #FFFFFF;
}

.analyticsBord {
    position: absolute;
    width: 80vw;
    left: 228px;
    right: 71px;
    top: 875px;
    box-sizing: border-box;

    /* grayscale / white */

    background: #FFFFFF;
    /* grayscale / divider */

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15.4px;
    margin-bottom: 100px;
}

.notificationPreview{
    position: absolute;
    left: 29.42px;
    top: 100px;
    width: 91%;

}

.table-cell{
    border-collapse: collapse;
    width: 100%;

}
tr > a {
    display: contents;
  }

.unitNum{
    
    /* SemiBold/14px */
    
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    width: 115px;
    height: 20px;   
    /* identical to box height, or 143% */
    
    letter-spacing: 0.2px;
    
    /* grayscale / black */
    
    color: #252733;
    border-bottom: 1px solid #DFE0EB;
    padding: 8px;
}

.dateN{
    height: 20px;
    width: 65%;
    /* SemiBold/14px */
    
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    letter-spacing: 0.2px;
    border-bottom: 1px solid #DFE0EB;
    padding-left: 190px;
    
    /* grayscale / gray */
    
    color: #9FA2B4;
}

.allN{
    border: #000000;
    height: 70px;
    left: 0px;
    right: 0px;
    top: 74px;
    border-bottom: 1px solid #DFE0EB;
    padding: 8px;
}
