.landlord {
    left: 228px;
    right: 90px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.3px;

    /* grayscale / black */

    color: #252733;

}

.hardware {
    position: absolute;
    height: 651px;
    left: 228px;
    right: 624px;
    top: 100px;
}

.HTables {
    width: 75vw;
    left: 228px;
    top: 266px;
}